/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
  color: #000;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1024px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
section {
  padding: 8rem 0;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 10em;
  margin: 2.5rem 0 0;
}
.btn a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: #ff0000;
  color: #fff;
  width: 100%;
  border-radius: 2px;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 500px) {
  .btn a {
    background: #ff0000;
  }
}
.btn a:hover {
  background: #fff;
  color: #ff0000;
}
header {
  width: 100%;
}
header .fixed {
  position: fixed;
  top: 0;
}
header .nav-spacer {
  height: 56px;
}
header nav {
  background: #555454;
  padding: 0 2rem;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
header nav a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
header nav .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
header nav .links a {
  padding-right: 2.5rem;
}
header nav .links a:last-of-type {
  padding-right: 0;
}
header nav .links a:hover {
  transition: all 0.2s ease-in-out;
  color: #ff0000;
}
#Hero {
  background: #2f303a;
}
#Hero .Hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (max-width: 500px) {
  #Hero .Hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
#Hero .Hero-content h1 {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
#Hero .Hero-content h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
#Hero .Hero-content .Hero-img {
  width: 50%;
  padding-right: 2.5rem;
}
@media screen and (max-width: 500px) {
  #Hero .Hero-content .Hero-img {
    display: none;
  }
}
#Hero .Hero-content .Hero-img img {
  width: 100%;
  max-width: 453px;
}
#Hero .Hero-content .Hero-text {
  width: 50%;
}
@media screen and (max-width: 500px) {
  #Hero .Hero-content .Hero-text {
    width: 80%;
  }
}
#Hero .Hero-content .Hero-text .btn a {
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.5);
}
footer {
  color: #f4f4f4;
  background: #22283b;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Info .Info-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 16rem;
}
@media screen and (max-width: 500px) {
  #Info .Info-content {
    margin-bottom: 8rem;
  }
}
#Info .Info-content:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 800px) {
  #Info .Info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  #Info .Info-content:first-of-type {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
#Info .Info-content .Info-text {
  width: 70%;
}
@media screen and (max-width: 800px) {
  #Info .Info-content .Info-text {
    width: 100%;
    text-align: center;
  }
}
#Info .Info-content .Info-text h2 {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
@media screen and (max-width: 500px) {
  #Info .Info-content .Info-text h2 {
    font-size: 3rem;
  }
}
#Info .Info-content .Info-text p {
  font-size: 2.5rem;
}
@media screen and (max-width: 500px) {
  #Info .Info-content .Info-text p {
    font-size: 1.6rem;
  }
}
#Info .Info-content .Info-icon {
  width: 25%;
  max-width: 230px;
}
@media screen and (max-width: 800px) {
  #Info .Info-content .Info-icon {
    margin-bottom: 2.5rem;
  }
}
#Info .Info-content .Info-icon img {
  width: 100%;
  max-width: 230px;
}
