header {
  width: 100%;

  .fixed {
    position: fixed;
    top: 0;
    z-index: 9999;
  }

  .nav-spacer {
    height: 56px;
  }

  nav {
    background: @grey;
    padding: 0 2rem;
    height: 56px;
    .flex(row, space-between, center);
    width: 100%;

    a {
      font-family: @sub-font;
      font-size: 2rem;
      font-weight: 500;
      color: #fff;
      text-decoration: none;
    }

    .links {
      .flex(row, space-between, center);

      a {
        font-size: 1.8rem;
        text-transform: uppercase;
        padding-right: 2.5rem;

        &:last-of-type {
          padding-right: 0;
        }

        &:hover {
          transition: all 0.2s ease-in-out;
          color: @red;
        }
      }
    }
  }
}

#Hero {
  background: @black;
  .Hero-content {
    .flex(row, space-between, center);

    @media @phone {
      .flex(column, space-between, center);
    }

    h1 {
      color: #fff;
      font-family: @sub-font;
      font-size: 5rem;
      font-weight: 600;
      margin-bottom: 2.5rem;
    }

    h2 {
      color: #fff;
      font-family: @main-font;
    }

    .Hero-img {
      width: 50%;
      padding-right: 2.5rem;

      @media @phone {
        display: none;
      }

      img {
        width: 100%;
        max-width: 453px;
      }
    }

    .Hero-text {
      width: 50%;

      @media @phone {
        width: 80%;
      }

      .btn {
        a {
          box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
