.userCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    // text-decoration: none;
    color: rgb(108, 108, 119);
  }

  .cardGroup {
    padding: 40px 0px 40px 0px;
  }

